@import '/components/Alert/Alert.module.css' screen;
@import '@/components/TreeView/TreeView.module.css' screen; 
/* @import '@/components/TreeView2/TreeView2.module.css' screen; */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

